input[type="submit"]:hover ,
button:hover {
  background-color: black;
  color: white;
}

input[type="submit"],
.button{
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
}

.landing-container{
  border-radius: 25px;

  background-color: rgba(5, 5, 5, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-container{
  pointer-events: none;
}

.login-container{
  border-radius: 25px;

  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

.signup-input{
  margin-bottom: 20px;
}

.login-picture{
  border-radius: 25px;
  width: 300px;

  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}


.pika-caption{
  transform: translate(25%, -5%);
}

.squirtle-caption{
  transform: translate(3%, 5%);
}

.alert{
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-button{
  position: absolute;
  top: 7%;
  left: 4%;
  transform: translate(-50%, -50%);
}

.leaderboard-button{
  position: absolute;
  top: 7%;
  left: 94%;
  transform: translate(-50%, -50%);
}