input[type="submit"]:hover ,
button:hover{
  background-color: black;
  color: white;
}

input[type="submit"],
.button{
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
}

.home-button{
  position: absolute;
  top: 4%;
  left: 4%;
  transform: translate(-50%, -50%);
}

.leaderboard-button{
  position: absolute;
  top: 4%;
  left: 94%;
  transform: translate(-50%, -50%);
}

.play-button{
  font-size: 25px;
}

.alert{
  margin-top: 20px;
  margin-bottom: 20px;
}

.landing-container{
  border-radius: 25px;

  background-color: rgba(5, 5, 5, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-container{
  pointer-events: none;
}

.login-container{
  border-radius: 25px;

  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

.signup-input{
  margin-bottom: 20px;
}

.login-picture{
  border-radius: 25px;
  width: 300px;

  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

@keyframes home-picture{
  to {width:70vh; height:auto;}
}

.home-image:hover{
  animation-name: home-picture;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.pika-caption{
  transform: translate(25%, -5%);
}

.squirtle-caption{
  transform: translate(3%, 5%);
}

.pokemon-title{
  position: absolute;
  top: 63%;
  left: 75%;
  transform: translate(-50%, -50%);
}

/* Testing */
@keyframes img-picture{
  to {
    /* width: 70vh;
    height: 70vh;
    background-size: 70vh auto;
    font-size: 30px;

    position:absolute;
    top:20%;
    left:59%; */

    transform:  scale(1.25);
    font-size: 30px;
  }
}

.img-torterra{ 
  width:60vh;
  height:60vh;
  background-image:url("../images/torterra.webp");
  background-size: 55vh auto;
  background-repeat:no-repeat;

  position:absolute;
  top:35%;
  left:60%;
}

.img-flash{ 
  width:60vh;
  height:60vh;
  background-image:url("../images/flash.png");
  background-size: 60vh auto;
  background-repeat:no-repeat;

  position:absolute;
  top:30%;
  left:10%;
}

.img-torterra:hover{
  animation-name: img-picture;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

.img-flash:hover{
  animation-name: img-picture;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

.txt-torterra{
  position: absolute;
  top: 70%  ;
  left: 43%;
  transform: translate(-50%, -50%);
  font-size: 25px;

  margin-left: 20px;
  margin-right: 20px;
}

.txt-flash{
  position: absolute;
  top: 70%  ;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 25px;

  margin-left: 20px;
  margin-right: 20px;
}