<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
  <title> Superhero and Pokemon Quiz </title>
</head>

<body>
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/P6mpVxKN7Xc?controls=0&autoplay=1&mute=1&playsinline=1&playlist=P6mpVxKN7Xc&loop=1"></iframe>
  </div>

  <div class="landing-container container d-flex bg-gradient-white col-2 mx-auto my-auto p-3">
    <div class="flex-column text-center mx-auto">
      <h2 style="color:white;"> Welcome to our game! </h2>

      <form class="welcome-form">
        <br>
        <button class="button" formaction="/signup"> Create an account </button>
        <br>
        <button class="button" formaction="/login"> Login </button>
      </form>
    </div>
  </div>
</body>
</html>