<!DOCTYPE html>
<html lang="en">
<head>
  <title> Leaderboard </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container-fluid home-container bg-warning d-flex" style="padding:20px">
        <form class="welcome-form">
            <button class="button home-button" formaction="/"> Home</button>
        </form>
        <!-- <h1 style="margin-left: 35%;"> Question #{{question_num}} </h1> -->
        <h1 style="margin-left: 40%">Leaderboard</h1>
    </div>

    <!-- <h1>Leaderboard</h1> -->
    <br>
    <div class="container dark" style="width:60%; background: var(--bs-light); border-radius: 20px;">
        <h2 style="padding-top: 10px;">Pokemon</h2>
        <form action="">
            <button class="button" formaction="/pokemongame"> Play!</button>
        </form>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col-1">Ranking</th>
                    <th scope="col">Username</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for name, score in pokemon_rankings %}
                    <tr> 
                        <th scope="row">{{loop.index}}</th>
                        <td>{{name}}</td>
                        <td>{{score}}</td>
                    <!-- <li>{{loop.index}} {{name}} {{number}}</li> -->
                    </tr>
                {% endfor %}
            </tbody>
      </table>
    <!-- </div> -->

    <!-- <div class="container"> -->
        <h2>Superhero</h2>
        <form action="">
            <button class="button" formaction="/superhero-game"> Play!</button>
        </form>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Ranking</th>
                    <th scope="col">Username</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for name, score in superhero_rankings %}
                    <tr> 
                        <th scope="row">{{loop.index}}</th>
                        <td>{{name}}</td>
                        <td>{{score}}</td>
                    <!-- <li>{{loop.index}} {{name}} {{number}}</li> -->
                    </tr>
                {% endfor %}
            </tbody>
      </table>
    </div>
</body>
</html>
